@{
  

    <!DOCTYPE html>

    <html>
    <head>
    </head>
    <body>
    <h3>Thanks for your purchase!</h3>
    <form>
        <input type="button" value="Back to product list" onClick='location.href="https://localhost:44339/PhonePrice/Phone"'>
    </form>
    </body>
    </html>
    }